@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>



<address>
    <strong>Linkedin:</strong>   <a href="https://www.linkedin.com/in/ryanliu99" target="external">Ryan Liu</a><br />
 
</address>